@import "../../../dctfrw/static/bulma/sass/utilities/_all";
@import "../../../dctfrw/static/bulma/sass/base/_all";
@import "../../../dctfrw/static/bulma/sass/elements/_all";
@import "../../../dctfrw/static/bulma/sass/form/_all";
@import "../../../dctfrw/static/bulma/sass/components/_all";
@import "../../../dctfrw/static/bulma/sass/grid/_all";
@import "../../../dctfrw/static/bulma/sass/layout/_all";

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNS-Light"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNS-LightItalic"), local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNS-Regular"), local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNS-Italic"), local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNS-Medium"), local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNS-MediumItalic"), local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNS-Bold"), local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNS-BoldItalic"), local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}




body
{
	font-family: system-ui;
  color: #000000;
  
}

#myfooter
{
    padding-top:20px;
    padding-bottom:20px;
}

#myheader
{
    background-color: pink;

    a
    {
      color: #FFFF;
    }
}

article 
{
    margin: 20px;
    p
    {
      text-align: justify;
    }

    h2
    {
      font-size: 28px;
      font-weight: bold;
    }

    h3
    {
      font-size: 26px;
      font-weight: bold;
    }

    img
    {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}

#footer-nav
{

    ul
    {

    }

    li
    {
      display:inline;

        border-style:none;
        margin-left:10px;
        margin-right:10px;
        padding-top: 10px;
        padding-bottom: 10px;

        a
        {
          padding-top: 17px;
          padding-bottom: 17px;
          padding-left: 17px;
          padding-left: 17px;
          
          color: #000000;
          font-weight: bold;
        }
    }

}


#ivideo
{
    height: 900px;

}

#direccion
{
    display: block;
    padding-top:20px;
}

.fixed-container {
  text-align: center;
}

amp-img.contain img {
  object-fit: contain;
}
